{% extends 'base.html.twig' %}

{% block title %}Créer un film{% endblock %}

{% block body %}
    <div class="container-fluid min-vh-100 bg-dark text-light p-5 pt-4">
        <h1 class="mb-4 fs-1 fw-bold text-warning text-center"> Créer un film</h1>

        <div class="mx-auto" style="max-width: 600px;">
            {{ form_start(form) }}

            {{ form_row(form.title, {
                attr: {
                    class: 'form-control bg-black bg-opacity-75 text-light border-secondary rounded-pill mb-3'
                },
                label_attr: {
                    class: 'fw-bold text-warning'
                }
            }) }}

            {{ form_row(form.duration, {
                attr: {
                    class: 'form-control bg-black bg-opacity-75 text-light border-secondary rounded-pill mb-3'
                },
                label_attr: {
                    class: 'fw-bold text-warning'
                }
            }) }}

            {{ form_row(form.description, {
                attr: {
                    class: 'form-control bg-black bg-opacity-75 text-light border-secondary rounded-4 mb-4'
                },
                label_attr: {
                    class: 'fw-bold text-warning'
                }
            }) }}

            <button class="btn btn-warning btn-lg rounded-pill fw-bold px-4 mb-5"> Enregistrer le film</button>

            {{ form_end(form) }}



            <div class="d-flex justify-content-center mt-5">
                <a href="{{ path('app_films') }}" class="btn btn-outline-light btn-lg rounded-pill fw-semibold px-4"> Retour à la liste</a>
            </div>
        </div>
    </div>
{% endblock %}



