{% extends 'base.html.twig' %}

{% block title %}Détails{% endblock %}

{% block body %}
    <div class="container my-5">
        <h1 class="mb-4">{{ film.title }}</h1>

        <dl class="row">
            <dt class="col-sm-3">ID</dt>
            <dd class="col-sm-9">{{ film.id }}</dd>

            <dt class="col-sm-3">Titre</dt>
            <dd class="col-sm-9">{{ film.title }}</dd>

            <dt class="col-sm-3">Durée</dt>
            <dd class="col-sm-9">{{ film.duration }} minutes</dd>

            <dt class="col-sm-3">Description</dt>
            <dd class="col-sm-9">{{ film.description }}</dd>
        </dl>




        {% if film.images|length > 0 %}
            <h2>Images du film</h2>
            <div class="row">
                {% for image in film.images %}
                    <div class="col-md-4">
                        <img src="{{ asset('uploads/images/' ~ image.imageName) }}" alt="Image du film" class="img-fluid rounded shadow-sm">
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>Aucune image associée à ce film.</p>
        {% endif %}





        {% if film.seances|length > 0 %}
            <h2 class="mt-5">Séances programmées</h2>
            <table class="table table-striped mt-3">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Titre de la séance</th>
                    <th>Date</th>
                    <th>Heure</th>
                    <th>Salle</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for seance in film.seances %}
                    <tr>
                        <td>{{ seance.id }}</td>
                        <td>{{ seance.title }}</td>
                        <td>{{ seance.date ? seance.date|date('d/m/Y') : 'Non définie' }}</td>
                        <td>{{ seance.startTime ? seance.startTime|date('H:i') : 'Non définie' }}</td>
                        <td>{{ seance.salle ? seance.salle.numbre : 'Non définie' }}</td>
                        <td>
                            <a href="{{ path('app_reservation_select_seats', { id: seance.id }) }}" class="btn btn-success">Réserver</a>

                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p class="mt-4 text-muted">Aucune séance programmée pour ce film.</p>
        {% endif %}






        <a href="{{ path('app_film_delete', {id: film.id}) }}" class="btn btn-outline-secondary mt-4">Supprimer</a>
        <a href="{{ path('app_film_edit', {id: film.id}) }}" class="btn btn-outline-secondary mt-4">Modifier</a>
        <a href="{{ path('app_films') }}" class="btn btn-outline-primary mt-4">Retour à la liste</a>
    </div>
{% endblock %}
